---
import DocsLayout from '../../layouts/DocsLayout.astro';
import AirQuality from '../../components/AirQuality.astro';
import Headline from '../../components/Headline.astro';
import Paragraph from '../../components/Paragraph.astro';
import CodeBlock from '../../components/CodeBlock.astro';

const usageSnippet = "import { AirQuality } from 'comet-astro';\\n\\n<AirQuality latitude={52.52} longitude={13.405} />";
---

<DocsLayout seoTitle="AirQuality">
  <Headline level="h1" textSize="2xl">AirQuality</Headline>

  <section class="mt-6">
    <Paragraph>The AirQuality component displays current air quality (EU/US AQI) and pollutant badges.</Paragraph>
    <div class="mt-4">
      <AirQuality latitude={52.52} longitude={13.405} location="Berlin" />
    </div>
  </section>

  <section class="mt-8">
    <Headline level="h2">Usage</Headline>
    <CodeBlock code={usageSnippet} language="astro" />
  </section>

</DocsLayout>
